<body>
  <div class="jumbotron"  style="background-color: transparent; margin-top:3em;">
  <div class="container" style="z-index: 10;" >
      <div class="container main-container" style="margin-bottom: 10em">
        <div class="tab-content" >
          <div role="tabpanel" class="tab-pane active" id="main" >
            <h1 style="text-align: center">BeemerStreamer<br>Alpha</h1>
            <center>
            <form class="form-horizontal" action="register">
              <p disabled style="display: inline-block; font-size: 25px;">
                <p disabled style="display: inline-block;">Willkommen auf der MainSite.<br></p><br>
                <p disabled style="display: inline-block;">Lorem Ipsum für arme, das ist ein PLACEHOLDER.<br></p><br>
                <div style="font-size: 28px" ><br>
              -> <a style="color:black;z-index: 10;text-decoration:underline" href="#list" aria-controls="home" role="tab" data-toggle="tab" title="zu den Beemer"> Beemer Liste</a><br>
              -> <a style="color:black;z-index: 10;text-decoration:underline" href="#user" aria-controls="profile" role="tab" data-toggle="tab" title="zu den Einstellungen"> User Einstellungen</a><br>
              <p><div class="form-group" style="width: 50%; margin-top: 3em"><button class="btn btn-lg btn-primary btn-block" type="submit" style="z-index: 10;">PLACEHOLDER</button></div></p></center>
            </form>
          </div>

        <div role="tabpanel" class="tab-pane" id="list">
          <h2 style="text-align: center;margin-top: 1em">Beemer Liste</h2>
          <p>Hier können später die vorhandenen Beamer angezeigt werden</p>
          <hr style="height:1px;border:none;color:#333;background-color:#333;margin-bottom:5em">
          <form action="" method="" class="form-horizontal">
            <div class="form-group">
                    <table class="list" border="1" width="150%" style="background: #f3b96e; font-weight: bold;float: left">
                        <tr class="list">
                            <th width="5%" class="list">#</th>
                            <th class="list">Name</th>
                            <th class="list">RoomID</th>
                            <th width="30%" class="list">Host</th>
                            <th class="list">Status</th>
                            <th width="5%" class="list">ID</th>
                            <th class="list">JOIN</th>
                            <th class="list">PREVIEW</th>
                        </tr>
                        
                        <%
                        if(list.length!=0){
                        var i=1;
                        list.forEach(function(data){
                        %>
                        <tr class="list">
                            <td class="list"><%=i; %></td>
                            <td class="list"><%=data.name %></td>
                            <td class="list"><%=data.roomid %></td>
                            <td class="list"><%=data.host %></td>
                            <%
                            if(data.status == 'Offline') {
                            %>
                              <td class="list" style="color: red"><%=data.status %></td>
                              <% } else { %>
                              <td class="list" style="color: green"><%=data.status %></td>
                              <% } %>
                            <td class="list"><%=data.id %></td>
                            <td class="list"><a href="join?roomid=<%=data.roomid%>">JOIN</a></td>
                            <td class="list"><a href="preview?roomid=<%=data.roomid%>">PREVIEW</a></td>
                        </tr>
                        <%  i++; }) %>
                        <% } else{ %>
                            <tr>
                                <td colspan="7">No Data Found</td>
                            </tr>
                        <% } %>
                    </table>
                
            </div>        
          </form>    
        </div>

        <div role="tabpanel" class="tab-pane" id="user">
          <br>
          <h2 style="text-align: center;">User Einstellungen</h2>
          <p>Hier können später noch User Einstellungen hinkommen</p>
          <hr style="height:1px;border:none;color:#333;background-color:#333;margin-bottom:5em">
          <form action="" method="" class="form-horizontal">
            <div class="form-group">
              <p>Also mal sehen was wir draus machen.</p>
            </div>        
          </form>    
        </div>
  
